:root {
    counter-reset: masonry;
  }
  .masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    grid-auto-rows: 0;
  }

  .masonry-item {
    border-radius: 5px;
  }

  .masonry-item {
     background-color: #eee;
     border-radius: 5px;
     overflow: hidden;
  }

  .masonry-item,
  .masonry-item img {
     position: relative;
  }

  /* .masonry-item:after {
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
    content: "👍 " convert(var(--like) string);
    counter-increment: masonry;
    position: absolute;
    top: 0;
    left: 0; 
    height: 80%;
    width: 80%;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: left; 
    align-items: top;
    transition: all .1s ease-in;
  } */

  .masonry-item-after {
    font-weight: bold;
    font-size: x-large;
    background-color: rgba(0, 0, 0, 0);
    counter-increment: masonry;
    position: absolute;
    top: 0;
    left: 0; 
    height: 80%;
    width: 80%;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: left; 
    align-items: top;
    transition: all .1s ease-in;
  }

  img, video {
    max-width: 100%;
    vertical-align: middle;
}