*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
}

.wrapper{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-container{
    display: flex;
    width: 550px;
    padding: 1rem;
    justify-content: space-around;
}

.video-item > h2{
    text-align: center;    
}
    
.video-item > video{
    border: 1px solid red;
    width: 500px;
    height: 376px; 
}
    
button,a{
    border: none;
    font-size: 14px;
    background: #ccc;
    padding: 0.5rem 1rem;
    cursor: pointer;
}